.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2.5rem 2rem;
  margin: 0 auto;
  position: relative;

  @media screen and (max-width: $bp-medium-small) {
    justify-content: space-between;
  }

  &__list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    transition: transform 0.3s ease;

    @media screen and (max-width: $bp-large) {
      display: none;
    }
  }

  &__link {
    text-transform: capitalize;
    color: $color-black;
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 0.4rem;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      color: $color-primary;
    }
  }

  &__logo-box {
    font-size: 2.2rem;
    font-weight: bold;
  }

  &__logo {
    max-width: 15%;
  }

  &__burger {
    display: none;
    position: absolute;
    top: 35%;
    right: 5%;
    cursor: pointer;
    z-index: 9999;
    margin-left: 2rem;

    @media screen and (max-width: $bp-large) {
      display: block;
    }

    &--line {
      height: 2px;
      margin: 5px;
      width: 2.5rem;
      background-color: $color-grey-light;
    }
  }
}
